@model Academico.Models.Curso

@{
    ViewData["Title"] = "Excluir Curso";
}

<h1>Excluir Curso</h1>

<h3>Tem certeza que deseja excluir?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Nome</dd>
        <dt class="col-sm-2">Carga Horária</dt>
        <dd class="col-sm-10">@Model.CargaHoraria</dd>
        <dt class="col-sm-2">Departamento</dt>
        <dd class="col-sm-10">@Model.Departamento.Nome</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CursoID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
